
node_modules/
config.json
gameData.json
Master.json
moveLists.json
typeList.json
pokemonLists.json
questLists.json
megaLists.json
raidLists.json
incidentList.json
package-lock.json
*.log
docker-compose.yml