{
  "token": "",
  "poracle": {
    "secret": "",
    "host": "",
    "port": 3030,
    "database": {
      // When using Docker, use your container name for host and the internal portnumber
      "host": "",
      "port": 3306,
      "user": "",
      "password": "",
      "database": "poracle"
    }
  },
  "ignoreTemplates": [
    ""
  ],
  "pokemonCommand": "track",
  "areaCommand": "area",
  "locationCommand": "location",
  "profileCommand": "profile",
  "raidCommand": "raid",
  "incidentCommand": "incident",
  "questCommand": "quest",
  "lureCommand": "lure",
  "removeCommand": "remove",
  "infoCommand": "info",
  "nestCommand": "nest"
}