{
  "token": "",
  "poracle": {
    "secret": "",
    "host": "",
    "port": 3030,
    "database": {
      "host": "",
      "port": 3306,
      "user": "",
      "password": "",
      "database": "poracle"
    }
  },
  "defaultLanguage": "en",
  "ignoreTemplates": [""],
  "pokemonCommand": "track",
  "areaCommand": "area",
  "locationCommand": "location",
  "profileCommand": "profile",
  "raidCommand": "raid",
  "incidentCommand": "incident",
  "questCommand": "quest",
  "lureCommand": "lure",
  "removeCommand": "remove",
  "infoCommand": "info",
   "nestCommand": "nest"
}